<form {{action 'save' on='submit'}}>
  {{input placeholder='Title'
          value=image.title
          required=true}}
  {{input placeholder='Category'
          value=image.category
          required=true}}
  {{input placeholder='Description'
          value=image.description
          required=true}}
  {{input placeholder='Link'
          value=image.link
          required=true
          accept="image/jpeg"}}
  <button type='submit' class='btn btn-xs'>Save</button>
  <button {{action 'cancel'}} class='btn btn-xs btn-danger'>Cancel</button>
</form>
